---
import Navbar from "../components/Navbar.svelte";
import { Image  }from "astro:assets";
import pool from "../Assets/pool.jpg"
import cleaning from "../Assets/cleaning.jpg"
import tools from "../Assets/tools.jpg"

import "@picocss/pico/css/pico.min.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <meta name="color-scheme" content="light" />
		<title>Astro</title>
	</head>
  <body class="relative pb-20">
    <canvas id="water"></canvas>
    <Navbar client:load />
    <main class="pt-30 z-10">
      <section class="flex flex-col lg:flex-row-reverse gap-5">
      <div class="h-full max-h-400 items-stretch justify-center p-5 all:rounded-lg all:h-100% gap-5 flex flex-row lg:w-70%">
         
          <Image class="object-cover w-50%" src={pool} alt="a clean pool"></Image>
          <div class="flex flex-col gap-5">
          <Image class="object-cover" src={cleaning} alt="cleaning a pool"></Image>
          <Image class="object-cover" src={tools} alt="a clean pool"></Image>
        </div>
      </div>
        <div class="w-full lg:w-50% p-5">
<h1 class="">Welcome to Pool Squad</h1>
      Your Personal Pool Maintenance Expert!
Pool Squad is your go-to destination for personalized, expert pool maintenance services. Owned and operated by Tyler Patterson, we offer tailored weekly pool maintenance to ensure your pool stays in pristine condition. Experience the difference of dedicated care from a trusted professional. Join Pool Squad today and let's keep your pool sparkling together!</main>
    </section>
    </div>
    <script src="../bubble.js"></script>
	</body>
</html>

<style>

body {
  background: var(--pico-background-color);
  color: var(--pico-color);
}

@font-face {
  font-family: "squad-light";
  src: url("../Assets/light.ttf") format("truetype");
  font-weight: 100;
  font-style: light;
}

@font-face {
  font-family: "squad-mid";
  src: url("../Assets/mid.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "squad-bold";
  src: url("../Assets/bold.ttf") format("truetype");
  font-weight: 800;
  font-style: bold;
}

*{
  font-family: "squad-mid";
}

#water{
    width:100%;
    height:100%;
    inset: 0;
    position: absolute;
}
</style>
